@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
body{
    background-color: pink;
}
html{
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style-type: none;
}
.container{
    width: 70%;
    margin: 0 auto;
}
.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}